#portada {
  text-align: center;
  padding: 40px;
  background-size: cover;
  background-color: rgb(255,255,255);
  min-height: 300px;
  height: calc(100vh - 95px);
  filter: grayscale(100%);
  background-image: url("../../assets/img/portada.png");
}

#portada .jumbotron {
  padding-top: 180px;
  padding-bottom: 10px;
  background-color: rgb(255,255,255);
}

.btn-primary {
  color: #fff;
  background-color: #54616e;
  border-color: #54616e;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 50px;
}

.text-center.tituloAgenda {
  margin-top: 20px;
}

#horario.col {
  /*padding-top: 10px;*/
  padding-bottom: 30px;
}

.card-text {
  font-family: 'Lora', serif;
}

.article-clean .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.h2, h2 {
}

.h2, h2 {
}

.card-title {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 25px;
  font-weight: bold;
  color: #333;
  font-family: 'Lora', serif;
}

.card p {
}

#textCollapse {
  font-family: 'Lora', serif;
}

