<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">Short CV</h1>
                    <p class="text-center"><span class="by">By</span> <a href="#">Noel Pérez</a><span
                            class="date">{{fecha}} </span></p>
                </div>
                <div class="text">
                    <h2>Education</h2>
                    <p><br>{{educacion}}<br></p>
                    <h2>Professional and Academic Activities<br></h2>
                    <p>{{actividades}}</p>
                </div>
            </div>
        </div>
    </div>
</div>