<div class="d-lg-flex align-items-lg-center">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-12 m-auto">
                <h1 class="text-center tituloAgenda" style="font-family: Lora, serif;">Agenda</h1>
                <h6 class="text-center text-muted mb-2" style="font-family: Lora, serif;">El horario para atención a
                    estudiantes es</h6>
            </div>
        </div>
    </div>
</div>
<div class="d-lg-flex align-items-lg-center">
    <div class="container">
        <div class="row">
            <div class="col" id="horario" style="padding-bottom: 0px;">
                <p class="text-center" style="margin-top: 84px;margin-bottom: 182px;">Lunes: {{lunes}}&nbsp;<br>Martes:
                    {{martes}}&nbsp;<br>Miércoles: {{miercoles}}&nbsp;<br>Jueves: {{jueves}}&nbsp;<br></p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div style="margin: 27px;"><a class="btn btn-primary" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseAdminHorario" role="button" href="#collapseAdminHorario">Editar horario</a>
                <div class="collapse show" id="collapseAdminHorario">
                    <form class="text-center" method="post" action=''>
                        <div class="form-group">
                            <input type='text' class="form-control form-control-sm" name="lunes"
                                placeholder="Horario lunes" style="margin-top: 22px;"></input>
                            <input type='text' class="form-control form-control-sm" name="martes"
                                placeholder="Horario martes" style="margin-top: 22px;"></input>
                            <input type='text' class="form-control form-control-sm" name="miercoles"
                                placeholder="Horario miercoles" style="margin-top: 22px;"></input>
                            <input type='text' class="form-control form-control-sm" name="jueves"
                                placeholder="Horario jueves" style="margin-top: 22px;"></input>
                        </div>
                        <div class="form-group"><button class="btn btn-success btn-sm" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>