<div class="d-lg-flex align-items-lg-center">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-12 m-auto">
                <h1 class="text-center tituloAgenda" style="font-family: Lora, serif;">Agenda</h1>
                <h6 class="text-center text-muted mb-2" style="font-family: Lora, serif;">El horario para atención a
                    estudiantes es</h6>
            </div>
        </div>
    </div>
</div>
<div class="d-lg-flex align-items-lg-center">
    <div class="container">
        <div class="row">
            <div class="col" id="horario" style="padding-bottom: 0px;">
                <p class="text-center" style="margin-top: 84px;margin-bottom: 182px;">Lunes: {{lunes}}&nbsp;<br>Martes:
                    {{martes}}&nbsp;<br>Miércoles: {{miercoles}}&nbsp;<br>Jueves: {{jueves}}&nbsp;<br></p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-3"><a class="btn btn-primary btn-block" role="button" href="/reservasL"
                    style="margin-bottom: 3px;">Reserva Lunes</a></div>
            <div class="col-md-3"><a class="btn btn-primary btn-block" role="button" href="/reservasM"
                    style="margin-bottom: 3px;">Reserva Martes</a></div>
            <div class="col-md-3"><a class="btn btn-primary btn-block" role="button" href="/reservasMi"
                    style="margin-bottom: 3px;">Reserva Miércoles</a></div>
            <div class="col-md-3"><a class="btn btn-primary btn-block" role="button" href="/reservasJ">Reserva
                    Jueves</a></div>
        </div>
    </div>
</div>