<div class="row">
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1 class="text-center">Courses</h1>
            <p class="text-center"><span class="by">By</span> Noel Pérez</p>
        </div>
        {{#each cursos}}
        <div class="row">
            <div class="col">
                <div class="text">
                    <h5>{{this.anio}}</h5>
                    <ul>
                        {{#each this.cursos}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div style="margin: 27px;"><a class="btn btn-primary" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseAdminCursos" role="button" href="#collapseAdminCursos{{@index}}">Editar
                        clases</a>
                    <div class="collapse" id="collapseAdminCursos{{@index}}">
                        <form class="text-center" method="post">
                            <div class="form-group"><textarea class="form-control form-control-sm" name="Curso"
                                    placeholder="Curso" style="margin-top: 22px;"></textarea>
                            </div>
                            <div class="form-group"><button class="btn btn-success btn-sm"
                                    type="submit">Agregar</button></div><button class="btn btn-danger text-left"
                                type="button">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div style="margin: 27px;"><a class="btn btn-primary" data-toggle="collapse" aria-expanded="true"
                aria-controls="collapseAdminPeriodo" role="button" href="#collapseAdminPeriodo">Nuevo curso</a>
            <div class="collapse show" id="collapseAdminPeriodo">
                <form class="text-center" method="post">
                    <div class="form-group">
                        <input type='text' class="form-control form-control-sm" name="anio" placeholder="Periodo"
                            style="margin-top: 22px;"></input>
                        <input type='text' class="form-control form-control-sm" name="cursos" placeholder="Cursos separados por coma"
                            style="margin-top: 22px;"></input>
                    </div>
                    <div class="form-group"><button class="btn btn-success btn-sm" type="submit">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>