<div class="row">
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1 class="text-center">Courses</h1>
            <p class="text-center"><span class="by">By</span> Noel Pérez</p>
        </div>
        {{#each cursos}}
        <div class="row">
            <div class="col">
                <div class="text">
                    <h5>{{this.anio}}</h5>
                    <ul>
                        {{#each this.cursos}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>