<div class="d-lg-flex align-items-lg-center">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-12 m-auto">
                <h1 class="text-center tituloAgenda">Tus datos para la reserva</h1>
                <h6 class="text-center text-muted mb-2" style="padding-bottom: 17px;">Recuerda: Si faltas a tu cita
                    reservada, serás penalizado</h6>
            </div>
        </div>
    </div>
</div>
<div class="contact-clean">
    <form action="" method="post" role='form'>
        <h2 class="text-center">Datos</h2>
        <div class="form-group">
            <input class="form-control" type="text" name="dia"
                placeholder="Día" style="margin-bottom: 17px;"></input>
            <input class="form-control" type="text" name="nombre"
                placeholder="Nombre"></input>
            <input class="form-control" type="text" name="codigo" placeholder="Codigo"
                style="margin-top: 14px;"></input>
            <input class="form-control" type="text" name="email" placeholder="Email"
                style="margin-top: 14px;"></input>
        </div>
        <div class="form-group"><input type='text' class="form-control" rows="14" name="comentarios"
                placeholder="Comentarios"></input></div>
        <div class="form-group"><button class="btn btn-primary" type="submit">Enviar</button></div>
    </form>
</div>